body {
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 30px;
}

main {
  flex: 1;
  padding: 30px 0;
}

#harga {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #343a40;
}

table {
  margin-bottom: 30px;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

thead {
  background-color: #343a40;
  color: #fff;
}

th,
td {
  padding: 12px;
  border: 1px solid #dee2e6;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}

footer p {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
